@use 'layout';

nav {
  min-height: 48px;
  box-sizing: border-box;

  @include layout.row($align: center, $justify: space-between);

  padding: 8px 20px;
  border-bottom: 1px solid var(--color-border-muted);
}

.app-logo {
  display: block;
  flex: 0 0 auto;
}
