.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__error {
    font-size: 12px;
    line-height: 1.2;
    min-height: 14px;
    color: var(--color-danger);
  }
}
