.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
