.form-field {
  display: flex;
  flex-direction: column;
  gap: 6px;

  &__label {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
  }

  &__error {
    font-size: 12px;
    line-height: 1.2;
    min-height: 14px;
    color: var(--color-danger);
  }
}
