@use 'layout';

.form-field {
  @include layout.column(6px);

  &__label {
    @include layout.column(6px);
  }

  &__label-text {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
  }

  &__error {
    font-size: 12px;
    line-height: 1.2;
    min-height: 14px;
    color: var(--color-danger);
  }
}
