@use 'layout';

:host {
  @include layout.row();
  flex-grow: 1;
  min-height: 0;
}

.chats-page {
  &__selected-chat {
    @include layout.column();
    flex-grow: 1;
    min-width: 0;
    background: var(--color-surface-softer);
  }

  &__placeholder {
    flex-grow: 1;
    display: grid;
    place-items: center;
    font-size: 14px;
    color: var(--color-text-muted);
  }
}
